/*=======================[FONT FACE]=======================*/
@font-face{
    font-family:'Sansation Bold';
    src:url('fonts/sansation/Sansation-Bold.ttf') format('truetype');
    font-weight:normal;
    font-style:normal;
}
@font-face{
    font-family:'Sansation Regular';
    src:url('fonts/sansation/Sansation-Regular.ttf') format('truetype');
    font-weight:normal;
    font-style:normal;
}
@font-face{
    font-family:'Sansation Light';
    src:url('fonts/sansation/Sansation-Light.ttf') format('truetype');
    font-weight:normal;
    font-style:normal;
}
@font-face{
    font-family:'Montserrat Regular';
    src:url('fonts/montserrat/Montserrat-Regular.otf') format('truetype');
    font-weight:normal;
    font-style:normal;
}
@font-face{
    font-family:'Montserrat Bold';
    src:url('fonts/montserrat/Montserrat-Bold.otf') format('truetype');
    font-weight:normal;
    font-style:normal;
}
@font-face{
    font-family:'Montserrat SemiBold';
    src:url('fonts/montserrat/Montserrat-SemiBold.otf') format('truetype');
    font-weight:normal;
    font-style:normal;
}
@font-face{
    font-family:'Montserrat Light';
    src:url('fonts/montserrat/Montserrat-Light.otf') format('truetype');
    font-weight:normal;
    font-style:normal;
}
@font-face{
    font-family:'Montserrat UltraLight';
    src:url('fonts/montserrat/Montserrat-UltraLight.otf') format('truetype');
    font-weight:normal;
    font-style:normal;
}
@font-face{
    font-family:'RobotoSlab Regular';
    src:url('fonts/roboto-slab/RobotoSlab-Regular.ttf') format('truetype');
    font-weight:normal;
    font-style:normal;
}
@font-face{
    font-family:'RobotoSlab Bold';
    src:url('fonts/roboto-slab/RobotoSlab-Bold.ttf') format('truetype');
    font-weight:normal;
    font-style:normal;
}