@import "../libs/bootstrap-3.3.6-dist/css/bootstrap.min.css";
@import "../fonts/fonts.css";
/*=======================[general]=======================*/
body{
    font-size: 13px;
    /*
    min-height: 700px;
    */
}
.container{
    max-width: 1026px;
    width: 100%;
}
/*=======================#menu_nav=======================*/
#menu_nav{
    border: none;
    border-radius: 0;
    background-color: #F0F0F0;
    margin-bottom: 0;
    box-shadow: rgba(0, 0, 0, .0392157) 0 3px 0;
    z-index: 999;
}
#menu_nav.affix{
    width: 100%;
}
#menu_nav .container .navbar-header .navbar-brand{
    padding-top: 0;
    padding-bottom: 0;
}
@media (min-width: 768px){
    #menu_nav .container{
        display: flex;
        align-items: center;
    }
    #menu_nav .container .navbar-header,
    #menu_nav .container .navbar-collapse{
        flex: auto;
    }
    #menu>li{
        margin-left: 27px;
    }
    #menu>li>a{
        padding: 0;
        padding-top: 26px;
        padding-bottom: 26px;
        transition: all .2s ease-in-out;
        font-family: 'Sansation Bold';
    }
    #menu>li>a:hover{
        box-shadow: #f18246 0 3px 0 inset;
    }
    #menu>li.active>a{
        background-color: transparent;
    }
    #menu>li.active>a>span{
        display: inline-block;
        height: 21px;
        line-height: 21px;
        padding: 0 10px;
        transition: all .2s ease-in-out;
        color: #ffffff;
        background-color: #f18246;
    }
    #menu>li.active:hover>a>span{
        background-color: #333;
    }
}
@media (max-width: 768px){
    #menu_nav .container .navbar-header{
        display: flex;
        align-items: center;
    }
    #menu_nav .container .navbar-header .navbar-brand{
        flex: auto;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    #menu_nav .container .navbar-header .navbar-toggle{
        flex: inherit;
    }
    #menu_nav .container .navbar-header .navbar-toggle{
        margin: 0;
        position: relative;
        right: 15px;
    }
}
/*=======================#slider_main=======================*/
#slider_main{
    background: url("../images/img_01.jpg");
    background-size: cover;
    background-position: center;
    min-height: 426px;
}
#slider_main .container .row .col-md-6{
    position: relative;
}
#slider_main .container .row .col-md-6 .title{
    margin: 0;
    margin-bottom: 30px;
    font-family: 'Sansation Light';
    color: #ffffff;
}
#slider_main .container .row .col-md-6 .title span{
    font-weight: 700;
}
#slider_main .container .row .col-md-6 .box_btn .btn-primary{
    background-color: #3ab5cf;
    border-color: #3ab5cf;
}
@media (min-width: 768px){
    #slider_main .container .row .col-md-6 .box_btn{
        display: flex;
        align-items: center;
    }
    #slider_main .container .row .col-md-6 .box_btn .btn{
        border-radius: 0;
        min-width: 235px;
        padding: 20px 0;
        flex: auto;
        margin-right: 20px;
    }
}
@media (max-width: 480px){
    #slider_main .container .row .col-md-6 .title{
        font-size: 24px;
    }
}
/*=======================#reassurance_home=======================*/
#gener .col-md-6{

}
#gener .col-md-6 .panel{
    box-shadow: none;
    border: none;
    margin-bottom: 0;
}
#gener .col-md-6 .panel .panel-heading{
    text-align: center;
    text-transform: uppercase;
    color: #cccccc;
    font-family: 'Sansation Bold';
}
@media (min-width: 992px){
    #gener .col-md-6{
        border-right: 1px solid #e6e6e6;
        padding-top: 30px;
        padding-bottom: 20px;
    }
    #gener .col-md-6:last-child{
        border: none;
    }
}
.box_brand{
    display: flex;
    align-items: center;
}
.box_brand .col-md-4{
    flex: auto;
}
.box_brand .col-md-4 img{
    margin: 0 auto;
    -webkit-filter: grayscale(100%);
    vertical-align: middle;
}
/*=======================#push=======================*/
#push{
    background-color: #F0F0F0;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    padding-top: 30px;
}
.box_push .col-md-4{
    margin-bottom: 30px;
}
.box_push .col-md-4 .title:before{
    content: "";
    position: absolute;
    top: 34px;
    left: 0;
    width: 18px;
    height: 3px;
    display: block;
    background-color: #3ab5cf;
}
.box_push .col-md-4 .title{
    margin: 0;
    margin-bottom: 20px;
    font-size: 25px;
    font-family: 'Sansation Regular';
    color: #444;
    position: relative;
}
.box_push .col-md-4 .list-unstyled{
    margin-bottom: 0;
}
.box_push .col-md-4 .list-unstyled>li{
    padding-left: 28px;
    line-height: 40px;
    background: url("../images/icon_01.png") no-repeat;
    font-family: 'RobotoSlab Regular';
}
.box_push .col-md-4 .list-unstyled>li.item_1{
    background-position: 0 0;
}
.box_push .col-md-4 .list-unstyled>li.item_2{
    background-position: 0 -120px;
}
.box_push .col-md-4 .list-unstyled>li.item_3{
    background-position: 0 -80px;
}
.box_push .col-md-4 .list-unstyled>li.item_4{
    background-position: 0 -240px;
}
.box_push .col-md-4 .list-unstyled>li.item_5{
    background-position: 0 -280px;
}
.box_push .col-md-4 .list-unstyled>li.item_6{
    background-position: 0 -160px;
}
.box_push .col-md-4 .list-unstyled>li.item_7{
    background-position: 0 -200px;
}
.box_push .col-md-4 .list-unstyled>li.item_8{
    background-position: 0 -360px;
}
.box_push .col-md-4 .list-unstyled>li.item_9{
    background-position: 0 -400px;
}
@media (min-width: 992px){
    #push{
        padding-top: 60px;
    }
    .box_push .col-md-4{
        margin-bottom: 60px;
    }
}
@media only screen and (min-width : 580px) and (max-width : 768px){
    .box_push .col-md-4{
        float: left;
        width: calc((100% - 0px)/2);
    }
}
/*=======================#platform=======================*/
#platform .container .page-header{
    border-bottom: none;
    text-align: center;
}
#platform .container .page-header .title{
    font-size: 42px;
    font-family: 'Sansation Light';
}
#platform .container .page-header .title span{
    font-family: 'Sansation Bold';
}
#platform .container .row .col-md-6 .thumbnail{
    padding: 0;
    border-radius: 0;
    border: none;
    text-align: center;
}
#platform .container .row .col-md-6{
    text-align: center;
}
#platform .container .row .col-md-6 .text{
    font-size: 16px;
}
#platform .container .row .col-md-6 .app{

}
#platform .container .row .col-md-6 .app .btn{
    min-width: 250px;
    position: relative;
    padding-left: 45px;
    text-align: left;
    display: inline-block;
    line-height: 40px;
    font-size: 15px;
}
#platform .container .row .col-md-6 .app .btn i{
    font-size: 30px;
    position: absolute;
    top: calc((100% - 30px)/2);
    left: 10px;

}
/*=======================#service=======================*/
#service{
    padding-top: 30px;
}
#service .container.top{
    text-align: center;
    max-width: 860px;
}
#service .container.top .title_01{
    font-size: 42px;
    margin: 0;
    margin-bottom: 20px;
    font-family: 'Sansation Light';
}
/*
#service .container.top .row .col-md-4{
    margin-bottom: 10px;
}
#service .container.top .row .col-md-4 .thumbnail{
    padding: 0;
    border: none;
    border-radius: 0;
}
#service .container.top .row .col-md-4 .thumbnail .img_bg{
    display: inline-block;
    width: 110px;
    height: 110px;
    line-height: 110px;
    background-color: #3dc1c9;
    border-radius: 50%;
}
#service .container.top .row .col-md-4 .thumbnail .caption{
    font-size: 18px;
    font-family: 'Montserrat Light';
    color: #b8bbbd;
}
#service .container.top .row .col-md-4 .thumbnail .caption .title_02{
    font-size: 18px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-family: 'Montserrat Bold';
}
#service .container.top .row .col-md-4 .thumbnail .caption .title_02 a{
    color: #474848;
}
*/
#service .container.top .row .col-md-3 {
    margin-bottom: 10px;
}
#service .container.top .row .col-md-3 .thumbnail{
    padding: 0;
    border: none;
    border-radius: 0;
}
#service .container.top .row .col-md-3 .thumbnail .img_bg{
    display: inline-block;
    width: 110px;
    height: 110px;
    line-height: 110px;
    background-color: #3dc1c9;
    border-radius: 50%;
}
#service .container.top .row .col-md-3 .thumbnail .caption{
    font-size: 18px;
    font-family: 'Montserrat Light';
    color: #b8bbbd;
}
#service .container.top .row .col-md-3 .thumbnail .caption .title_02{
    font-size: 18px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-family: 'Montserrat Bold';
}
#service .container.top .row .col-md-3 .thumbnail .caption .title_02 a{
    color: #474848;
}



#service .container.bot{
    max-width: 1170px;
    text-align: center;
    margin-bottom: 60px;
    font-size: 18px;
}
#service .container.bot .title{
    margin: 0 auto;
    margin-bottom: 30px;
    padding-top: 35px;
    border-top: 3px solid #3cacdd;
    font-family: 'Sansation Bold';
    color: #3cacdd;
}
#service .container.bot p.desc{
    margin-bottom: 30px;
    color: #a9adae;
    font-size: 18px;
    font-family: 'Sansation Regular';
}
#service .container.bot p.desc a{
    color: #32a6d3;
    font-family: 'Sansation Bold';
    font-size: 18px;
}
@media (min-width: 992px){
    #service{
        padding-top: 90px;
    }
    #service .container.top .title_01{
        margin-bottom: 70px;
    }
    #service .container.bot .title{
        width: 45%;
        display: inline-block;
    }
}
/*=======================#pricing=======================*/
#pricing{
    padding-top: 60px;
    background: url("../images/bg_03.png") repeat;
}
#pricing .title_01{
    text-align: center;
    font-size: 42px;
    color: #272727;
    margin: 0;
    margin-bottom: 30px;
    font-family: 'Sansation Light';
}
#pricing .container{
    background-color: transparent;
}
#pricing .container .title_02{
    text-align: center;
    font-size: 18px;
    padding-bottom: 18px;
    border-bottom: 3px solid #3cacdd;
    font-family: 'Montserrat Bold';
    color: #474848;
}
#pricing .container .row{
    background-color: transparent;
}
#pricing .container .row .col-md-4{
    margin-bottom: 30px;
}
#pricing .container .row .col-md-4 .thumbnail{
    border-radius: 0;
    border: none;
    padding: 0;
    background-color: transparent;
}
#pricing .container .row .col-md-4 .thumbnail .img_h{
    text-align: center;
    height: 50px;
    line-height: 50px;
}
#pricing .container .row .col-md-4 .thumbnail .caption{
    text-align: center;
    padding: 0;
}
#pricing .container .row .col-md-4 .thumbnail .caption .title{
    font-size: 18px;
    font-family: 'Montserrat SemiBold';
}
#pricing .container .row .col-md-4 .thumbnail .caption p{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
#pricing .container .row .col-md-4 .thumbnail .caption p span.dolas{
    font-size: 18px;
    vertical-align: super;
    color: #b9b9b9;
    font-family: 'Montserrat SemiBold';
}
#pricing .container .row .col-md-4 .thumbnail .caption p span.price{
    font-size: 48px;
    vertical-align: sub;
    font-family: 'Montserrat UltraLight';
}
#pricing .container .row .col-md-4 .thumbnail .caption p span.text{
    font-size: 24px;
    vertical-align: super;
    font-family: 'Montserrat Bold';
}
#pricing .container .row .col-md-4 .thumbnail .progress.content{
    height: 15px;
    border-radius: 0;
    position: relative;
    overflow: initial;
}
#pricing .container .row .col-md-4:nth-child(2n) .thumbnail .progress.content:before,
#pricing .container .row .col-md-4:nth-child(2n) .thumbnail .progress.content:after{
    background: url("../images/line_01.png") no-repeat;
    height: 40px;
    width: 8px;
    top: calc((100% - 40px)/2);
    z-index: 99999;
}
#pricing .container .row .col-md-4:nth-child(2n) .thumbnail .progress.content:before{
    content: '';
    position: absolute;
    left: -4px;
}
#pricing .container .row .col-md-4:nth-child(2n) .thumbnail .progress.content:after{
    content: '';
    position: absolute;
    right: -4px;
}
#pricing .container .row .col-md-4 .thumbnail .quality{
    padding: 0 20px;
    font-family: 'RobotoSlab Regular';
}
#pricing .container .row .col-md-4 .thumbnail .quality p{
    color: #9c9d9d;
    font-size: 16px;
    font-family: 'RobotoSlab Regular';
}
#pricing .container .row .col-md-4 .thumbnail .quality .param{
    padding-left: 0;
    font-size: 16px;
    font-weight: bold;
    list-style-position: inside;
}
#pricing .container .row .col-md-4 .thumbnail .quality .param>li:first-child{
    border-top: 1px solid #d7d7d7;
}
#pricing .container .row .col-md-4 .thumbnail .quality .param>li{
    border-bottom: 1px solid #d7d7d7;
    line-height: 35px;
    font-family: 'RobotoSlab Bold';
}
#pricing .container .row .col-md-4 .thumbnail .quality .flex.align-center .progress{
    height: 3px;
}
#pricing .container .row .col-md-4.free .thumbnail .progress.content .progress-bar{
    background: linear-gradient(#9c9d9d 50%, #babbbb 50%);
}
#pricing .container .row .col-md-4.standard .thumbnail .progress.content .progress-bar{
    background: linear-gradient(#2e96c4 50%, #3cacdd 50%);
}
#pricing .container .row .col-md-4.enterprise .thumbnail .progress.content .progress-bar{
    background: linear-gradient(#252525 50%, #252525 50%);
}
#pricing .container .row .col-md-4.free .thumbnail .quality .flex.align-center .progress .progress-bar{
    background-color: #bfbebe;
}
#pricing .container .row .col-md-4.standard .thumbnail .quality .flex.align-center .progress .progress-bar{
    background-color: #3cacdd;
}
#pricing .container .row .col-md-4.enterprise .thumbnail .quality .flex.align-center .progress .progress-bar{
    background-color: #252525;
}
#pricing .container .row .col-md-4.free .thumbnail .caption .title{
    color: #aeaeae;
}
#pricing .container .row .col-md-4.standard .thumbnail .caption .title{
    color: #3cacdd;
}
#pricing .container .row .col-md-4.enterprise .thumbnail .caption .title{
    color: #252525;
}
#pricing .container .row .col-md-4.free .thumbnail .caption p span.price{
    color: #aeaeae;
}
#pricing .container .row .col-md-4.standard .thumbnail .caption p span.price{
    color: #3cacdd;
}
#pricing .container .row .col-md-4.enterprise .thumbnail .caption p span.price{
    color: #252525;
}
@media (min-width: 992px){
    #pricing .title_01{
        margin-bottom: 60px;
    }
    #pricing .container .title_02{
        width: 50%;
        margin: 0 auto;
        margin-bottom: 50px;
    }
    #pricing .container .row .col-md-4:first-child .thumbnail .progress.content{
        border-radius: 6px 0 0 6px;
        overflow: hidden;
    }
    #pricing .container .row .col-md-4:last-child .thumbnail .progress.content{
        border-radius: 0 6px 6px 0;
        overflow: hidden;
    }
    #pricing .container .row .col-md-4 .thumbnail .quality{
        padding: 0 35px;
    }
}
@media (min-width: 768px){
    #pricing .container .title_02{
        margin-bottom: 50px;
    }
    #pricing .container .row .col-md-4{
        padding: 0;
        margin-bottom: 80px;
    }
}
@media (max-width: 768px){
    #pricing .container .row .col-md-4:nth-child(2n) .thumbnail .progress.content:before,
    #pricing .container .row .col-md-4:nth-child(2n) .thumbnail .progress.content:after{
        display: none;
    }
    #pricing .container .progress-bar {
        height: 3px !important;
    }
}
/*=======================#block_order=======================*/
#block_order:before{
    content: '';
    background-color: #cdcdcd;
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    top: 0;
}
#block_order{
    background: url("../images/bg_01.png") repeat;
    padding-top: 50px;
    position: relative;
    border-top: 1px solid #a5a4a4;
    text-align: center;
}
#block_order .container{
    max-width: 1100px;
}
#block_order .container .title_c{
    font-size: 42px;
    color: #272727;
    margin: 0;
    margin-bottom: 70px;
    font-family: 'Sansation Light';
}
#block_order .container .row .col-md-3{
    margin-bottom: 50px;
}
#block_order .container .row .col-md-3 .img_bg{
    display: inline-block;
    width: 68px;
    height: 68px;
    line-height: 68px;
    background-color: rgba(165, 164, 164, 0.59);
    border-radius: 50%;
}
#block_order .container .row .col-md-3 .title{
    font-size: 18px;
    margin: 0;
    margin-top: 25px;
    margin-bottom: 20px;
    font-family: 'Montserrat Bold';
}
#block_order .container .row .col-md-3 .title a{
    color: #9f9e9e;
}
#block_order .container .row .col-md-3 .price{
    font-size: 18px;
    font-family: 'Montserrat Light';
}
#block_order .container .row .col-md-3 .price span{
    font-size: 30px;
    color: #32a6d3;
}
/*=======================.block_link=======================*/
.box_11{
    background: url("../images/img_block_01.jpg") no-repeat;
    background-size: 100%;
}
.box_12{
    background-color: rgba(23, 146, 202, 0.51);
}
.box_21{
    background: url("../images/img_block_02.png") no-repeat top right;
}
.box_22{
    background-color: rgba(132, 215, 248, 0.71);
}
.box_31{
    background: url("../images/img_block_03.jpg") no-repeat;
    background-size: 100%;
}
.box_32{
    background-color: rgba(30, 130, 201, 0.87);
}
.block_link{
    text-align: center;
}
.block_link .container .title{
    margin: 0 0 25px 0;
    color: #ffffff;
    font-family: 'Sansation Light';
}
.block_link .container .list-unstyled{
    margin-bottom: 0;
    text-transform: uppercase;
}
.block_link .container .list-unstyled>li>a{
    background-color: transparent;
    border-radius: 18px;
    border-color: #ffffff;
    border-width: 2px;
    transition: background-color 0.4s;
    font-family: 'Montserrat Bold';
}
.block_link .container .list-unstyled>li>a:focus,
.block_link .container .list-unstyled>li>a:hover{
    background-color: #d2361d;
    border-color: #d2361d;
}
@media (max-width: 1200px){
    .block_link{
        background: none !important;
    }
}
@media (min-width: 768px){
    .block_link .container .list-unstyled>li>a{
        min-width: 190px;
    }
}
/*=======================#comment=======================*/
#comment{
    padding-top: 20px;
}
#comment .container .row .col-md{
    margin-bottom: 20px;
    font-family: 'RobotoSlab Regular';
}
@media (min-width: 768px){
    #comment{
        padding-top: 50px;
    }
    #comment .container .row .col-md:nth-child(2n + 1){
        float: left;
    }
    #comment .container .row .col-md:nth-child(2n){
        float: right;
        text-align: right;
    }
    #comment .container .row .col-md{
        margin-bottom: 50px;
    }
}
/*=======================#lang_words=======================*/
#lang_words{
    background: url("../images/bg_01.png") repeat;
}
#lang_words .container{
    background: url("../images/map_global.jpg") no-repeat top left;
    padding-top: 45px;
}
#lang_words .container .row .col-md-6{
    margin-bottom: 45px;
}
#map_text p:first-child{
    font-size: 42px;
    font-weight: bold;
    color: #272727;
    margin-bottom: 0;
    font-family: 'Sansation Light';
}
#map_text p:last-child{
    margin-bottom: 0;
    font-size: 18px;
    color: #9a9b9b;
    font-weight: bold;
    font-family: 'Montserrat Bold';
}
#count .row{
    margin-bottom: 10px;
}
#count p{
    margin-bottom: 0;
    text-align: right;
    color: #9a9b9b;
    font-weight: bold;
    font-family: 'Montserrat Bold';
}
#count .row .col-md-4{
    display: flex;
    align-items: center;
    padding: 0 8px;
}
#count .row .col-md-4:first-child span.one:first-child{
    background-color: transparent;
}
#count .row .col-md-4 span.one{
    flex: 1;
    width: 60px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    background-color: rgba(204, 204, 204, 0.66);
    margin: 0 3px;
    border-radius: 3px;
    font-size: 48px;
    color: #8d8e8e;
    font-family: 'Montserrat Light';
}
@media only screen and (min-width : 992px) and (max-width : 1100px){
    #count .row .col-md-4 span.one{
        height: 60px;
        line-height: 60px;
    }
}
@media (min-width: 992px){
    #lang_words .container .row{
        display: flex;
        align-items: center;
    }
    #lang_words .container .row .col-md-6{
        flex: auto;
    }
}
@media (max-width: 992px){
    #count .row .col-md-4{
        margin-bottom: 8px;
        padding: 0 3px;
    }
}
@media (max-width: 460px){
    #count .row .col-md-4 span.one{
        width: 50px;
        height: 50px;
        line-height: 50px;
        font-size: 30px;
    }
}
@media (max-width: 380px){
    #count .row .col-md-4 span.one{
        width: 40px;
        height: 30px;
        line-height: 30px;
        font-size: 20px;
    }
}
/*=======================#featured=======================*/
#featured{
    background-color: #303030;
    padding: 30px 0;
    font-size: 18px;
    text-align: center;
    color: #a0a0a1;
    font-family: 'Montserrat Bold';
}
/*=======================#footer=======================*/
#footer{
    background: url("../images/bg_footer.png") no-repeat top center;
    background-size: 100%;
    background-color: #000000;
    padding-top: 20px;
}
#footer .top{
    padding-bottom: 30px;
    border-bottom: 1px solid #ffffff;
    margin-bottom: 20px;
}
#footer .top .navbar-left{
    margin-left: -15px;
}
#footer .top .navbar-nav>li>a{
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'Montserrat SemiBold';
}
#footer .top .navbar-nav>li>a:hover,
#footer .top .navbar-nav>li>a:focus{
    background-color: transparent;
}
#footer .top .navbar-right>li>a{
    min-width: 170px;
    border-radius: 25px;
    font-family: 'Montserrat Bold';
}
@media (min-width: 768px){
    #footer{
        padding-top: 50px;
    }
    #footer .top{
        margin-bottom: 50px;
    }
    #footer .top .navbar-left>li:first-child>a{
        padding-left: 0;
    }
    #footer .top .container-fluid{
        display: flex;
        align-items: center;
    }
    #footer .top .container-fluid .navbar-left,
    #footer .top .container-fluid .navbar-right{
        flex: auto;
    }
    #footer .top .navbar-right>li{
        float: right;
    }
}
#footer .bot{
    margin-bottom: 20px;
    color: #a0a0a1;
}
#footer .bot address{
    font-family: 'Montserrat Light';
}
#footer .bot address .title_01{
    font-size: 18px;
    font-weight: bold;
    font-family: 'Montserrat Bold';
}
#footer .bot address .title_02{
    font-weight: bold;
    font-family: 'Montserrat SemiBold';
}
#footer .bot .row .col-md-6 .list-inline{
    margin-bottom: 0;
}
#footer .bot .row .col-md-6 .list-inline>li>a>i{
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #ffffff;
    font-size: 18px;
}
#footer .bot .row .col-md-6 .list-inline>li>a>i.fa-facebook{
    background-color: #4985c1;
}
#footer .bot .row .col-md-6 .list-inline>li>a>i.fa-twitter{
    background-color: #87d9f1;
}
#footer .bot .row .col-md-6 .list-inline>li>a>i.fa-google-plus{
    background-color: #d55f55;
}
#footer .bot .row .col-md-6 .list-inline>li>a>i.fa-instagram{
    background-color: #527fa6;
}
#footer .bot .row .col-md-6:last-child{
    font-family: 'Montserrat Light';
}
#footer .bot .row .col-md-6:last-child b{
    font-family: 'Montserrat Bold';
}
@media (min-width: 768px){
    #footer .bot{
        margin-bottom: 40px;
    }
    #footer .bot address{
        margin-bottom: 67px;
    }
    #footer .bot .row{
        display: flex;
        align-items: center;
    }
    #footer .bot .row .col-md-6{
        flex: auto;
    }
    #footer .bot .row .col-md-6:last-child{
        text-align: right;
    }
}
@media (max-width: 768px){
    #footer .bot .row .col-md-6{
        margin-bottom: 15px;
    }
}
.service_desc {
    margin-bottom: 30px;
    color: #a9adae;
    font-size: 18px;
    font-family: 'Sansation Regular';
}
.quality ul {
    padding-left: 0;
    font-size: 16px;
    font-weight: bold;
    list-style-position: inside;
}
.quality li:first-child {
    border-top: 1px solid #d7d7d7;
}
.quality li {
    border-bottom: 1px solid #d7d7d7;
    line-height: 35px;
    font-family: 'RobotoSlab Bold';
}
.page-header h1 {
    font-size: 42px;
    font-family: 'Sansation Light';
}
#slider_main h1{
    margin: 0;
    margin-bottom: 30px;
    font-family: 'Sansation Light';
    color: #ffffff;
}